* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  font-size: 16px;
  font-weight: 600;
  color: #505050;
}

.out-warapper {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

h1 {
  color: #676767;
  padding: 10px 0;
}

header {
  border-bottom: 1px solid #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
          box-shadow: 0 0 5px #ccc;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0;
}

nav {
  width: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 5px #ccc;
          box-shadow: 3px 3px 5px #ccc;
}

nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px;
  cursor: pointer;
}

nav li:hover {
  background-color: #eaeaea;
}

.tools-wrapper {
  margin-top: 63px;
}

.tools-wrapper i {
  margin: 0 10px;
}

.tools-wrapper .active-tool {
  background-color: #fae900;
}

.palette-wrapper {
  margin-top: 30px;
}

.palette-wrapper .fa-share {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  font-size: 16px;
  color: #505050;
  cursor: default;
}

.palette-wrapper .fa-share::before {
  position: absolute;
  left: -17px;
  -webkit-transform: rotate(-90deg) translateX(-1em) translateY(-1em);
          transform: rotate(-90deg) translateX(-1em) translateY(-1em);
  opacity: 0;
  content: "\f064";
  font-family: "Font Awesome 5 Pro";
  font-size: 14px;
  -webkit-transition: opacity 0.25s, -webkit-transform 0.5s;
  transition: opacity 0.25s, -webkit-transform 0.5s;
  transition: opacity 0.25s, transform 0.5s;
  transition: opacity 0.25s, transform 0.5s, -webkit-transform 0.5s;
}

.palette-wrapper .fa-share:hover {
  color: #9d1396;
}

.palette-wrapper .fa-share:hover::before {
  -webkit-transform: rotate(0) translateX(0) translateY(0);
          transform: rotate(0) translateX(0) translateY(0);
  opacity: 1;
}

.palette-wrapper input[type="color"] {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.palette-wrapper input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
  border: 0;
  border-radius: 50%;
}

.palette-wrapper input[type="color"]::-webkit-color-swatch {
  border: 0;
  border-radius: 50%;
}

.palette-wrapper .color-indicator {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.palette-wrapper .color-view {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.palette-wrapper .color-predefine {
  padding-top: 10px;
}

.palette-wrapper .color-view_red {
  background-color: #fa0000;
}

.palette-wrapper .color-view_blue {
  background-color: #0089fa;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  font-family: monospace;
  color: #fff;
  background-color: #59baff;
}

.interactive-block {
  margin: 0 auto;
}

.interactive-block .canvas-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.interactive-block .loader-control {
  position: relative;
}

.interactive-block .display-canvas {
  border: 1px solid #ccc;
}

.interactive-block .draft-canvas {
  display: none;
  background-color: #ccc;
}

.request-field {
  width: auto;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.canvas-wrapper {
  margin: 20px 0;
}

.canvas-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-error {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 300px;
  padding: 5px 10px 15px 15px;
  border: 1px solid #999;
  background: #ccc;
}

.modal-error p {
  clear: both;
}

.modal-close-btn {
  display: inline-block;
  float: right;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */